<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>支出</key>
	<dict>
		<key>餐饮</key>
		<array>
			<string>早餐</string>
			<string>午餐</string>
			<string>晚餐</string>
			<string>点心</string>
			<string>饮品</string>
			<string>酒水</string>
			<string>水果</string>
			<string>夜宵</string>
		</array>
		<key>交通</key>
		<array>
			<string>加油费</string>
			<string>停车费</string>
			<string>火车</string>
			<string>地铁</string>
			<string>汽车</string>
			<string>出租车</string>
			<string>公交车</string>
			<string>摩托车</string>
			<string>自行车</string>
			<string>机票</string>
			<string>船票</string>
		</array>
		<key>娱乐</key>
		<array>
			<string>电影</string>
			<string>游乐园</string>
			<string>展览</string>
			<string>影音</string>
			<string>音乐</string>
			<string>游戏</string>
			<string>运动</string>
			<string>博彩</string>
			<string>休闲</string>
			<string>健身</string>
			<string>夜店</string>
		</array>
		<key>购物</key>
		<array>
			<string>超市</string>
			<string>衣物</string>
			<string>鞋子</string>
			<string>配饰</string>
			<string>箱包</string>
			<string>美妆</string>
			<string>精品</string>
			<string>礼物</string>
			<string>数码产品</string>
			<string>应用软件</string>
			<string>夜店</string>
		</array>
		<key>个人</key>
		<array>
			<string>社交</string>
			<string>电话费</string>
			<string>借款</string>
			<string>投资</string>
			<string>税金</string>
			<string>保险</string>
			<string>捐款</string>
			<string>宠物</string>
			<string>彩票</string>
		</array>
		<key>医疗</key>
		<array>
			<string>门诊</string>
			<string>牙齿保健</string>
			<string>药品</string>
			<string>医疗物资</string>
			<string>打针</string>
			<string>住院</string>
			<string>手术</string>
			<string>体检</string>
		</array>
		<key>家居</key>
		<array>
			<string>日常用品</string>
			<string>水费</string>
			<string>电费</string>
			<string>燃气费</string>
			<string>电话费</string>
			<string>网络费</string>
			<string>房租</string>
			<string>洗衣费</string>
			<string>修理费</string>
			<string>家具</string>
			<string>报刊订阅</string>
			<string>水电费</string>
		</array>
		<key>家庭</key>
		<array>
			<string>生活费</string>
			<string>教育</string>
			<string>看护</string>
			<string>玩具</string>
			<string>才艺</string>
		</array>
		<key>生活</key>
		<array>
			<string>美容美发</string>
			<string>美体</string>
			<string>按摩</string>
			<string>住宿</string>
			<string>旅行</string>
			<string>派对</string>
		</array>
		<key>学习</key>
		<array>
			<string>图书</string>
			<string>课程</string>
			<string>教材</string>
			<string>证书</string>
			<string>搜索</string>
			<string>文具</string>
		</array>
		<key>其他</key>
		<array>
			<string>其他</string>
		</array>
	</dict>
	<key>收入</key>
	<array>
		<string>薪水</string>
		<string>奖金</string>
		<string>投资</string>
		<string>还款</string>
		<string>彩票</string>
		<string>利息</string>
	</array>
</dict>
</plist>
